body{
   font-family: 'Montserrat', sans-serif;
   margin: 0%;
}

/* H1 CSS */
h1{
    font-size: 70px;
}

p{
    text-align:
}
.flexible-display{
    display: flex;
}

.heading{
    color: rgb(90, 8, 8);
}






/* Top Banner */
.top-banner{


}
span{
    color: rgb(243, 147, 78);
}

.top-half{
    width: 50%;
    padding-left:20px;

}
.top-half a{
    padding: 20px 50px;
    background-color: rgb(243, 147, 78);
    text-decoration:none;
    border-radius: 30px;
    color: aliceblue;
    display: inline-block;
    margin: 30px 20px 10px 0px;
}





/*Second Banner */
.second-banner{
    background-color: rgb(255, 230, 221);
    background-repeat: no-repeat;
    width: 100%;
}
.second-banner img{
    height: 515px;
    width: 400;
}
.second-half{
    width: 50%;
}
.contat-me{
    padding: 20px 50px;
    background-color: rgb(243, 147, 78);
    text-decoration:none;
    border-radius: 30px;
    color: aliceblue;
    display: inline-block;
    margin: 30px 20px 10px 0px;
}






/* Third Banner */
.tb-h1{
    text-align: center;
}
.tb-p{
    text-align: center;
    padding: 40px;
}

.th-h1{
    margin: 45px;
}
.th-p{
    padding-left: 45px;
    padding-right: 45px;
}

.third-half{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50px;
    box-shadow: 5px 5px 40px rgb(175, 175, 175);

}
.th-img{
    height:500px ;
    padding:45px;
}





/* Last Banner */
.last-banner{
    padding-bottom: 150px;
}
.parents{
  display:flex;
  justify-content:space-evenly;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgb(185, 184, 184);
  margin-left: 5%;
  margin-right: 5%;
}
.child{
  text-align:left;
}
h2{
  font-size: 50px;
}
.lb-h1{
    text-align: center;
}



/* Footer */
.footer{
    background-color: black;
    padding: 100px 100px;
}

.ftext-h2{
    text-align: center;
    color: beige;
}
.ftext-p{
    text-align: center;
    color: wheat;
}
